:root {
  --navy-blue: #2e2f42;
  --slate: #434455;
  --ocean: #404bbf;
}

body {
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
svg,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.rmv-bullet,
.filter-btn,
.projects {
  list-style-type: none;
}

.header-setting {
  border-bottom: 1px solid #e7e9fc;
}

.header-container-setting {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* align-content: baseline; */
}

.container {
  width: 428px;
  /* margin: 0 auto; */
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1158px) {
    width: 1158px;
  }
}

.nav-setting {
  display: flex;
}

.nav-list {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    gap: 40px;
    margin-left: 121px;
  }
  @media screen and (min-width: 1158px) {
    margin-left: 76px;
  }
}

.header-contact-list {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    /* gap: 40px; */
    flex-direction: column;
    gap: 12px;
    /* margin-top: -40px;
    margin-left: -40px; */
  }
  @media screen and (min-width: 1158px) {
    flex-direction: row;
    gap: 40px;
  }
}

.header-contact-list-info {
  /* margin-top: 40px;
  margin-left: 40px; */
}

.logo {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-size: 18px;
  line-height: 1;
  color: var(--navy-blue);
  display: flex;
  align-items: center;
  padding-top: 25.5px;
  padding-bottom: 25.5px;
}

.logo span {
  color: #4d5ae5;
}

.nav-bar {
  color: var(--navy-blue);
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  padding: 24px 0;
  display: block;
  /* margin-top: 40px;
  margin-left: 40px; */
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.nav-bar:hover,
.nav-bar:focus {
  color: #4d5ae5;
}

.nav-active {
  color: var(--ocean);
  position: relative;
}

.nav-bar::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -1px;
  width: 100%;
  opacity: 0;
  border: 2px solid var(--ocean);
  border-radius: 2px;
  background-color: var(--ocean);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-bar:hover::after,
.nav-bar:focus::after {
  opacity: 1;
}

.nav-active::after {
  opacity: 1;
}

.desc-second-section,
.projects-desc {
  font-size: 16px;
  line-height: 1.5;
  color: var(--slate);
  letter-spacing: 0.32px;
}

.team-title {
  font-size: 16px;
  line-height: 1.5;
  color: var(--slate);
  letter-spacing: 0.32px;
  margin-bottom: 8px;
}

.nav-right-decor {
  text-decoration: none;
  /* padding: 24px 0; */
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 768px) {
    color: #434455;

    font-size: 12px;
    font-weight: 400;
    line-height: 14px; /* 116.667% */
    letter-spacing: 0.48px;
  }
  @media screen and (min-width: 1158px) {
    color: var(--slate, #434455);

    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
  }
}

.nav-right-decor:hover,
.nav-right-decor:focus {
  color: #4d5ae5;
}

.hero-sec {
  /* background: #2e2f42b2; */
  background: linear-gradient(#2e2f42b2, #2e2f42b2),
    url("../images/hero-bg-m.jpg");
  /* background-size: auto auto; */
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: cover;
  padding: 112px 0;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background: linear-gradient(#2e2f42b2, #2e2f42b2),
      url("../images/hero-bg-m@2x.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
  }

  @media screen and (min-width: 768px) {
    background: linear-gradient(#2e2f42b2, #2e2f42b2),
      url("../images/hero-bg-t.jpg");
    /* background-size: auto auto; */
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background: linear-gradient(#2e2f42b2, #2e2f42b2),
        url("../images/hero-bg-t@2x.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      /* background-position: center; */
    }
  }
  @media screen and (min-width: 1158px) {
    background: linear-gradient(#2e2f42b2, #2e2f42b2),
      url("../images/hero-bg-d.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 188px 0;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background: linear-gradient(#2e2f42b2, #2e2f42b2),
        url("../images/hero-bg-d@2x.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;

  @media screen and (min-width: 1158px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.hero-sec-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-title {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  line-height: 40px; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 88px;

  @media screen and (min-width: 768px) {
    font-size: 56px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 1.12px;
    margin-bottom: 48px;
  }

  @media screen and (min-width: 1158px) {
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
  }
}

.btn-studio-mid {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  background-color: #4d5ae5;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  letter-spacing: 0.64px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-studio-mid:hover,
.btn-studio-mid:focus {
  background-color: var(--ocean);
}

.second-list {
  display: flex;
  flex-direction: column;
  gap: 72px;

  @media screen and (min-width: 768px) {
    /* display: flex;
    width: 354px;
    flex-wrap: wrap;
    gap: 24px; */
    /* margin-top: -24px;
    margin-left: -24px; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 24px;
    align-items: center;
  }

  @media screen and (min-width: 1158px) {
    /* gap: 24px; */
    flex-wrap: wrap;

    /* margin-top: -24px;
    margin-left: -24px; */
  }
}

.second-list-gap {
  /* margin-top: 24px;
  margin-left: 24px;
  width: 264px; */
  @media screen and (min-width: 768px) {
    flex-basis: 354px;
  }

  @media screen and (min-width: 1158px) {
    /* margin-top: 24px;
    margin-left: 24px; */
    flex-basis: 264px;
  }
}

.third-sec {
  /* padding-top: 0; */
  display: none;

  @media screen and (min-width: 1158px) {
    display: block;
    padding-top: 0;
  }
}

.third-list {
  display: flex;
  /* gap: 24px; */
  margin-top: -24px;
  margin-left: -24px;
}

.third-list-gap {
  margin-top: 24px;
  margin-left: 24px;
}

.team-sec {
  background-color: #f4f4fd;
}

.fourth-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;

  @media screen and (min-width: 768px) {
    column-gap: 24px;
    row-gap: 72px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.card-container {
  /* width: 264px; */
  /* margin: 0 auto 72px auto; */
  border-radius: 0px 0px 4px 4px;
  background: var(--white, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  padding-bottom: 32px;
  /* margin-top: 24px;
  margin-left: 24px; */

  @media screen and (min-width: 768px) {
  }
}
.card-container:last-child {
  margin-bottom: 0;
}
.card-img {
  margin-bottom: 32px;
}
.card-content {
  display: flex;
  /* width: 232px; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.team-name,
.projects-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.title-second-section {
  text-align: center;

  /* Header 2 */
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;

  @media screen and (min-width: 768px) {
    text-align: left;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
  }

  @media screen and (min-width: 1158px) {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--navy-blue);
    margin-bottom: 8px;
  }
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: var(--navy-blue);
  line-height: 1;
  margin-bottom: 72px;
}

.desc-footer {
  width: 264px;
  line-height: 1.5;
  font-size: 16px;
  /* for viewing purposes. I didnt change the default color */
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  /* padding-bottom: 100px; */
}

/* Portfolio*/

.btn-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  background-color: #f4f4fd;
  color: #4d5ae5;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 12px 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn {
  list-style-type: none;
  display: flex;
  justify-content: center;
  /* gap: 24px; */
  margin-top: -24px;
  margin-left: -24px;
  margin-bottom: 72px;
}

.filter-btn-list {
  margin-top: 24px;
  margin-left: 24px;
}

.btn-portfolio:hover,
.btn-portfolio:focus {
  color: white;
  background-color: var(--ocean);
  border: 1px solid var(--ocean);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.btn-portfolio-active {
  color: white;
  background-color: var(--ocean);
  border: 1px solid var(--ocean);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.projects {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: -24px;
  margin-left: -24px;
}

/* .row-first,
.row-second {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 48px;
}
.row-third {
  display: flex;
  justify-content: center;
  gap: 24px;
} */

.projects-card-list {
  margin-top: 24px;
  margin-left: 24px;
}

.projects-card-container {
  display: flex;
  /* padding: 0px 0px 32px 0px; */
  flex-direction: column;
  flex-shrink: 0;
  background: var(--white, #fff);
  cursor: pointer;
  margin-bottom: 48px;
}
/* 
.projects-card-container:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
} */
.project-link {
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover,
.project-link:focus,
.project-link:active {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.projects-card-img {
  display: block;
  max-width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}

.box {
  overflow: hidden;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  /* left: 0; */
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;

  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: var(--cloud, #f4f4fd);

  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  padding: 40px 32px 0;
}

.project-link:hover .overlay,
.project-link:focus .overlay {
  transform: translatey(0);
}

.projects-card-content {
  display: flex;
  padding: 32px 16px;
  flex-direction: column;
  justify-content: center;
  /* align-items: flex-start; */
  /* gap: 8px;*/
  align-self: stretch;
  border: 1px solid #e7e9fc;
  border-top: none;
}

/* ============================ Team Card SVG ================================*/

.social-icon-list {
  /* margin-top: -24px;
  margin-left: -24px; */
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 24px;
  cursor: pointer;
}

.social-icon-link {
  width: 40px;
  height: 40px;
  /* margin-top: 24px;
  margin-left: 24px; */
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  fill: #f4f4fd;
}

.social-icon-link:hover,
.social-icon-link:focus {
  background-color: var(--ocean);
}

/* ============================ Team Card SVG ================================*/

/* ============================ ADVANTAGE SVG ================================*/

.advantage-icon-container {
  display: none;

  @media screen and (min-width: 1158px) {
    width: 264px;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
  }
}
/* ============================ ADVANTAGE SVG ================================*/

/* ============================ CUSTOMERS SVG ================================*/

.customers-icon-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 72px;
  justify-content: center;

  @media screen and (min-width: 768px) {
    column-gap: 24px;
  }

  @media screen and (min-width: 1158px) {
    justify-content: space-between;
    align-items: baseline;
    /* let this be a comment - start */
    /* margin-top: -24px;
  margin-left: -24px; */
    /* let this be a comment - end */
    gap: 24px;
  }
}

.customer-icon-link {
  width: 168px;
  height: 88px;
  /* margin-top: 24px;
  margin-left: 24px; */
  /* padding: 16px 32px; */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-icon {
  fill: #8e8f99;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-icon-link:hover,
.customer-icon-link:focus {
  border: 1px solid var(--ocean);
}

/* hovering the parent the child while change also */
.customer-icon-link:hover .customer-icon,
.customer-icon-link:focus .customer-icon {
  fill: var(--ocean);
}

/* ============================ CUSTOMERS SVG ================================*/
/* global styles footer */

.footer-setting {
  background-color: var(--navy-blue);
  padding: 100px 0;
}

.footer-setting-margin-portfolio {
  margin-top: -48px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-size: 18px;
  line-height: 1;
  color: white;
  margin-bottom: 17.5px;
  display: block;
  text-align: center;
  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.footer-logo-span {
  color: #4d5ae5;
}

.footer-flex {
  display: flex;
  flex-direction: column;
  gap: 120px;
  /* align-items: flex-start; */

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    padding-left: 108px;
    padding-right: 108px;
    column-gap: 24px;
    row-gap: 72px;
  }

  @media screen and (min-width: 1158px) {
    padding-left: 15px;
    padding-right: 15px;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

/* .footer-flex > * {
  @media screen and (min-width: 768px) {
    width: calc((100% - 24px) / 2);
  }
} */

.footer-social-icon-gap {
  justify-content: center;
  @media screen and (min-width: 768px) {
    gap: 16px;
  }
}

.footer-title {
  color: white;
  font-weight: 500;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.footer-social-icon:hover,
.footer-social-icon:focus {
  background-color: #31d0aa;
}

.form-input-sub {
  max-width: 398px;
  background: transparent;
  padding: 8px 16px;
  color: white;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    width: 264px;
  }
}

.form-input-sub:hover,
.form-input-sub:focus {
  border-color: #4d5ae5;
}

.form-input-sub::placeholder {
  color: rgba(255, 255, 255, 0.3);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 200% */
  letter-spacing: 0.48px;
}

.form-footer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.form-btn-footer {
  margin-left: auto;
  margin-right: auto;
  width: 165px;
  padding: 8px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.form-btn-footer-icon {
  fill: white;
}
/* MODAL  WINDOW*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  padding: 72px 24px 24px 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background: #fcfcfc;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;

  background-color: #e7e9fc;
  color: #2e2f42;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .modal-close:hover,
.modal-close:focus {
  color: var(--primary-orange-color);
} */

.modal-close:focus,
.modal-close:hover {
  background-color: var(--ocean);
}

.modal-close:focus .modal-close-icon,
.modal-close:hover .modal-close-icon {
  fill: white;
}

.is-hidden {
  visibility: none;
  opacity: 0;
  pointer-events: none;
}

.modal-title {
  color: #2e2f42;
  text-align: center;

  /* Body Medium */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  margin-bottom: 36px;
}

.form-field {
  display: block;
  position: relative;
}

.form-label {
  position: absolute;
  top: -15px;

  color: #8e8f99;

  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.48px;
}

.form-input {
  display: block;
  width: 100%;
  margin-bottom: 28px;
  padding: 11px 16px 11px 38px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  color: #434455;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 116.667% */
  letter-spacing: 0.48px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus,
.form-input:hover {
  border-color: #4d5ae5;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  fill: #2e2f42;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .form-icon,
.form-input:hover + .form-icon {
  fill: #4d5ae5;
}

.form-textarea {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  resize: none;
  padding: 8px 16px;
  font-family: Roboto;
  font-size: 12px;
  color: #434455;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 116.667% */
  letter-spacing: 0.48px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea:hover,
.form-textarea:focus {
  border-color: #4d5ae5;
}

.form-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);

  /* Small Text */
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 116.667% */
  letter-spacing: 0.48px;
}

.form-terms {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin-top: 16px;
  margin-bottom: 24px;
  cursor: pointer;
}

.form-checkbox {
  margin-right: 8px;
}

.form-checkbox-icon {
  fill: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox:checked + .form-checkbox-icon {
  background-color: #4d5ae5;
  border-color: #4d5ae5;
  fill: white;
}

.form-terms-span {
  margin-left: 8px;
  color: var(--lightslate, #8e8f99);

  /* Small Text */
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 116.667% */
  letter-spacing: 0.48px;
}

.form-terms-span a {
  color: #4d5ae5;
}

.form-btn {
  display: block;
  margin: 0 auto;
  width: 170px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;

  /* margin-left: auto; */
  /* padding: 0; */
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  color: #2e2f42;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-icon {
  fill: currentColor;
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 80px 40px 40px;
  background-color: white;
  z-index: 200;

  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container-close {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;

  background-color: white;
  color: #2e2f42;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container-close:hover,
.menu-container-close:focus {
  background-color: #4d5ae5;
  border: 1px solid #4d5ae5;
}

.menu-close-icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container-close:hover .menu-close-icon,
.menu-container-close:focus .menu-close-icon {
  fill: white;
}

.mobile-nav-setting li {
  margin-bottom: 40px;
}

.mobile-navbar-list {
  color: #2e2f42;

  text-decoration: none;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-navbar-list:hover,
.mobile-navbar-list:focus {
  color: #404bbf;
}

.mobile-navbar-current {
  color: #404bbf;
}

.mobile-tel {
  text-decoration: none;
  color: #4d5ae5;
  font-size: 35px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.mobile-contacts-link {
  margin-bottom: 40px;
}

.mobile-social-list {
  margin-top: 48px;
}

.mobile-email {
  text-decoration: none;
  color: #434455;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-email:hover,
.mobile-email:focus {
  color: #4d5ae5;
}
